$green : #2dcc70;
$gray: #69686f;
$hover :#2dcc70;
 

a.nav-link{
    color: white ;
    &:hover{
        color: $hover;
    }
}

nav.navbar {
    direction: rtl;
    background-color: #3e3e46 !important;

    div a.navbar-brand , div ul li a.nav-link{
        color: white !important;
    }

    div{

      li{
        text-align: right;
        background: #69686fc7;
        // border-radius: 12px;
        margin-left: 2px;
        &:first-child{
          border-top-right-radius: 12px;
        }
        &:last-child{
          border-top-left-radius: 12px
        }
      }
  
      li.active{
          background:$green;
          border-radius: 12px;
      }
  
  
      li:hover{
          background:$green;
          border-radius: 12px;
          transition: background-color .3s;
          transition: border-radius .3s;
      }
    }
}


div.row{
    margin-top: 56px;

    div.body {
        padding-right: 0;
        padding-top: 15px;
        div.header{
          background: #69686f0d;
          width: fit-content;
        }
    }
    div{
        text-align: right;
    }
    aside{
        text-align: right;
        padding: 25px 10px;
        height: -webkit-fill-available;
        background: $gray;

        li.nav-item a.disabled{    
            color: #aaa;
        }
    }
}


footer{
    background: $green;
    text-align: center;
    color: white;
    height: 50px;

    h5{
        line-height: 50px;
        margin-bottom: 0;
    }
}


// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #fff;
$table-text-color: #024457;
$table-outer-border: 1px solid #167f92;
$table-cell-border: 1px solid #d9e4e6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #69686f1f;
$table-header-background-color: #2dcc70;
$table-header-text-color: #fff;
$table-header-border: 1px solid #fff;

// The Responstable mixin

@mixin responstable(
  $breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {
  .responstable {
    direction: rtl;
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;

    tr {
      border: $cell-border;
      &:nth-child(odd) {
        // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }

    th {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;
      &:first-child {
        // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) {
        // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {
          display: none;
        }
        &:after {
          content: attr(data-th);
        }
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) {
          // hide the data-th and show the normal header for tablet and desktop
          span {
            display: block;
          }
          &:after {
            display: none;
          }
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th,
    td {
      text-align: left;
      margin: 0.5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
        text-align: right;
      }
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable(
  $border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);

// General styles


h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  span {
    color: #167f92;
  }
}

div#login form{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #3e3e46;
  color: white;
  padding: 15px;
  border: 2px solid #2dcc70;
  outline-offset: 10px;
  text-align: center;
}
footer#loginfooter{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}