html,
body {
  height: 100%;
  position: relative;
}

a.nav-link {
  color: white;
}

a.nav-link:hover {
  color: #2dcc70;
}

nav.navbar {
  direction: rtl;
  background-color: #3e3e46 !important;
}

nav.navbar div a.navbar-brand, nav.navbar div ul li a.nav-link {
  color: white !important;
}

nav.navbar div ul.navbar-nav {
  margin: 0 auto;
  padding: 0;
}

nav.navbar div li {
  text-align: right;
  background: #69686fc7;
  margin-left: 2px;
}

nav.navbar div li:first-child {
  border-top-right-radius: 12px;
}

nav.navbar div li:last-child {
  border-top-left-radius: 12px;
}

nav.navbar div li.active {
  background: #2dcc70;
  border-radius: 12px;
}

nav.navbar div li:hover {
  background: #2dcc70;
  border-radius: 12px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  -webkit-transition: border-radius .3s;
  transition: border-radius .3s;
}

div.body {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 40px;
  padding-top: 70px;
  direction: rtl;
  text-align: right;
}

div.body div.header {
  background: #69686f0d;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

div.body div.content {
  direction: rtl;
  text-align: right;
}

footer {
  background: #2dcc70;
  text-align: center;
  color: white;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer h5 {
  line-height: 50px;
  margin-bottom: 0;
}

div {
  text-align: right;
}

aside {
  text-align: right;
  padding: 25px 10px;
  height: -webkit-fill-available;
  background: #69686f;
}

aside li.nav-item a.disabled {
  color: #aaa;
}

.responstable {
  direction: rtl;
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #fff;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167f92;
}

.responstable tr {
  border: 1px solid #d9e4e6;
}

.responstable tr:nth-child(odd) {
  background-color: #69686f1f;
}

.responstable th {
  display: none;
  border: 1px solid #fff;
  background-color: #2dcc70;
  color: #fff;
  padding: 1em;
}

.responstable th:first-child {
  display: table-cell;
  text-align: center;
}

.responstable th:nth-child(2) {
  display: table-cell;
}

.responstable th:nth-child(2) span {
  display: none;
}

.responstable th:nth-child(2):after {
  content: attr(data-th);
}

@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}

.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}

.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #d9e4e6;
}

@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #d9e4e6;
  }
}

.responstable th,
.responstable td {
  text-align: left;
  margin: 0.5em 1em;
}

@media (min-width: 480px) {
  .responstable th,
  .responstable td {
    display: table-cell;
    padding: 1em;
    text-align: right;
  }
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
}

h1 span {
  color: #167f92;
}

div#login form {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #3e3e46;
  color: white;
  padding: 15px;
  border: 2px solid #2dcc70;
  outline-offset: 10px;
  text-align: center;
}

footer#loginfooter {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

@media only screen and (max-width: 600px) {
  div ul.navbar-nav {
    padding: 0;
  }
  div ul.navbar-nav li {
    text-align: center !important;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 0 !important;
  }
}

div#studentProfile {
  height: auto;
}

div#studentProfile .top-title {
  color: red;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  font-weight: 400;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

div#studentProfile .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  background-color: #3e3e46;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

div#studentProfile .left-content {
  text-align: center;
}

div#studentProfile .left-content img {
  border-radius: 10%;
  max-width: 200px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

div#studentProfile .right-content {
  width: -webkit-fill-available;
  margin-top: 5px;
  margin-right: 10px;
}

div#studentProfile .greeting {
  background: #2dcc70;
  color: white;
  padding: 6px 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

div#studentProfile .greeting:before {
  content: '';
  width: 0;
  height: 0;
  border: 6px solid;
  position: absolute;
  top: 100%;
  left: 0;
  border-color: transparent;
  border-top-color: #2dcc70;
  border-left-color: #2dcc70;
}

div#studentProfile .my-name {
  font-weight: 200;
  margin-bottom: 0;
}

div#studentProfile .my-name span {
  font-weight: 400;
}

div#studentProfile .my-website a {
  font-weight: 300;
  font-size: 14px;
  color: #0f3152;
}

div#studentProfile .detail-infor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

div#studentProfile .labels {
  font-weight: 600;
  margin-right: 2rem;
}

div#studentProfile .labels div {
  margin-bottom: 1rem;
}

div#studentProfile .labels div p {
  color: #beffd5;
  margin-bottom: 0px;
  display: inline-block;
  width: auto;
}

div#studentProfile .labels div p span {
  margin-left: 12px;
  margin-right: 7px;
}

div#studentProfile .labels div p.data {
  color: white;
  display: inline;
}

div#studentProfile .bottom-content {
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #2dcc70;
  width: 100%;
  padding: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

div#studentProfile .bottom-content a {
  color: black;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: 200ms;
  transition: 200ms;
  font-size: 24px;
  margin: 0  10px;
}

div#studentProfile .bottom-content a:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */