<DOCTYPE html>
<html>
  <head>
    <style>
    body{background-color:#1e272f}
    td{width: 200px;
      padding: 100px;
      background-color: #33cc33;}
    </style>



  </head>
  <body>

    <table>

      <tr>
        <a>

      <td >
          <a href= ><h1> الطلاب</h1> </a>
        </td>


        <td>
        <a href=><h1>القسم</h1>  </a>
      </td>

        <td>
        <a href=>  <h1>الكنترول والنتيجة/<h1> </a>
      </td>
    </a>
    </tr>
    <tr>
      <a>
        <td>
        <a href=> <h1> المالية </h1></a>
          </td>

        <td>
        <a href=><h1> التسجيل الاكاديمي </h1> </a>
      </td>

        <td>
        <a href=>  <h1>الجدول</h1> </a>
      </td>
    </a>
    </tr>
    <tr>
      <a>
        <td>
        <a href=> <h1> تنظيم الامتحانات  </h1></a>
      </td>
    </a>
    </tr>
    </table>


  </body>
<html>
