{% extends extend %}
{% block content %}
<div id='login'>
<form  method="post">
  {% csrf_token %}
      <label for="title">العنوان</label>



          <select name="title" id="title">
              <option value="Quiz">Quiz</option>
              <option value="Report">Report</option>
              <option value="Absence">Absence</option>
              <option value="Section">Section</option>
              <option value="LAB">LAB</option>
        </select>
        
  



        <label for="clm">عدد الاعمدة</label>
    


          <select name="colm" id="clm">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
          </select>
  


  <input type="hidden" name="hidden" value="{{hidden}}">
  <input type="submit" name="" value="تسجيل" class="btn btn-success">
</form>
</div>





{% endblock %}
