{% extends "basic.html" %}
{% block content %}

<form class="form-inline" method="post">
  {% csrf_token %}
    <div class="form-group">
      <h3>title of column:</h3>
      </div>


  <div class="form-group">

          <select name="title">
              <option value="1">Midterm</option>
              <option value="2">Quiz</option>
              <option value="3">Report</option>
              <option value="4">Absence</option>
              <option value="5">Section</option>
              <option value="6">LAB</option>
        </select>
  </div>


    <div class="form-group">
      <h3>number of column in this title:</h3>
      </div>


  <div class="form-group">
          <select name="colm">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
          </select>
  </div>
  <input type="hidden" name="hidden" value="{{hidden}}">
  <input type="submit" name="" value="تسجيل" class="btn btn-success">
</form>






{% endblock %}
