<!doctype html>

{% load static %}

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'student:home' %}">
                <img src="{% static 'img/logo.png' %}" alt="logo" height="35px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item nav-item {% if data == 'true' %}active{% endif %}">
                        <a class="nav-link" role="button" class="dropdown-item" href="{% url 'student:data' %}">
                            البيانات الشخصيه
                        </a>
                    </li>
                    <li class="nav-item nav-item {% if table == 'true' %}active{% endif %}">
                        <a class="nav-link" role="button" class="dropdown-item" href="{% url 'student:tbl' %}">
                            الجدول الشخصي
                        </a>
                    </li>
                    <li class="nav-item dropdown {% if grades == 'true' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'student:grades' %}" role="button">
                            الدرجات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}" role="button">
                            تسجيل الخروج
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="body">
        <div class="container">
            <div class="container text-center header">
                <h5>الفصل الدراسي الأول – 2017/2018</h5>
                <h6>هندسة الاتصالات والالكترونيات</h6>
            </div>
            <div class="content">
                {% block content %}

                {% endblock %}
                {% if script %}
                <form class="form-group row" method="post">
                    {% csrf_token %}
                    <input align="center" type="submit" name="action" class="btn btn-secondary" value={{script}}>
                </form>
                {% endif %}
            </div>
        </div>

        <footer>
            <h5>copy right</h5>
        </footer>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>