{% extends extend %}

{% load staticfiles%}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">


<div id="studentProfile">

    <div class="container">
        <div class="left-content">
            <img src="{{ info.image.url }}" alt="avatar">
        </div>
        <div class="right-content">
            <span class="greeting">مرحبا</span>
            <h2 class="my-name">
                <span>{{name}}</span>
            </h2>
            <br>
            <div class="row">
                <div class="col-md-6 col-xs-12 mb-4 mt-2">
                    <h6 style="color:#2dcc70">البيانات الشخصية</h6 style="color:#2dcc70">
                    <div class="detail-infor">
                        <div class="labels">
                            <div>
                                <p>السن <span>:</span> </p>
                                <p class="data">{{ info.age }}</p>
                            </div>
                            <div>
                                <p>تاريخ الميلاد<span>:</span> </p>
                                <p class="data">{{ info.birthDate }}</p>
                            </div>
                            <div>
                                <p>الجنسية<span>:</span> </p>
                                <p class="data">{{ info.nationality }}</p>
                            </div>
                            <div>
                                <p>النوع<span>:</span> </p>
                                <p class="data">{{ info.gender }}</p>
                            </div>
                            <div>
                                <p>الرقم القومي<span>:</span> </p>
                                <p class="data">{{ info.identityNumber }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 mb-4 mt-2">
                    <h6 style="color:#2dcc70">بيانات التواصل</h6 style="color:#2dcc70">
                    <div class="detail-infor">
                        <div class="labels">
                            <div>
                                <p>إسم الوالد <span>:</span> </p>
                                <p class="data">{{ info.parentName }}</p>
                            </div>
                            <div>
                                <p>العنوان<span>:</span> </p>
                                <p class="data">{{ info.address }}</p>
                            </div>
                            <div>
                                <p>رقم الوالد<span>:</span> </p>
                                <p class="data">{{ info.parentPhoneNumber }}</p>
                            </div>
                            <div>
                                <p>رقم الطالب<span>:</span> </p>
                                <p class="data">{{ info.studentPhoneNumber }}</p>
                            </div>
                            <div>
                                <p>الهاتف المنزلي<span>:</span> </p>
                                <p class="data">{{ info.homeNumber }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 mb-4 mt-2">
                    <h6 style="color:#2dcc70">بيانات التأهيل</h6 style="color:#2dcc70">
                    <div class="detail-infor">
                        <div class="labels">
                            <div>
                                <p>المؤهل <span>:</span> </p>
                                <p class="data"> {{ info.qualification }} </p>
                            </div>
                            <div>
                                <p>عام<span>:</span> </p>
                                <p class="data"> {{ info.schoolYear }} </p>
                            </div>
                            <div>
                                <p>الدور<span>:</span> </p>
                                <p class="data"> {{ info.turn }} </p>
                            </div>
                            <div>
                                <p>الدرجات<span>:</span> </p>
                                <p class="data"> {{ info.grades }} </p>
                            </div>
                            <div>
                                <p>رقم الجلوس<span>:</span> </p>
                                <p class="data"> {{ info.seatNumber }} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 mb-4 mt-2">
                    <h6 style="color:#2dcc70">مؤهل طلاب المعاهد</h6 style="color:#2dcc70">
                    <div class="detail-infor">
                        <div class="labels">
                            <div>
                                <p>إسم المعهد<span>:</span> </p>
                                <p class="data"> {{ info.instituteName|default:'-------' }} </p>
                            </div>
                            <div>
                                <p>عام<span>:</span> </p>
                                <p class="data"> {{ info.instituteYear|default:'-------' }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-content">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-codepen"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"> <i class="fab fa-github"></i></a>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}
