{% extends extend %}
{% block content %}


<div class="container">
        <form class="form-group row" method="post">
            {% csrf_token %}
            <table class="responstable">
                <tr>
                    <th>إسم المادة</th>
                    <th>محاضرة / سكشن</th>
                    <th>اليوم{{ day.num }}</th>
                </tr>
                {%for result in students%}
                    <tr>
                        
                        <td>{{result.subject.subjects.name}}</td>
                        {% if quiz %}
                            {% if result.subject.subjects.name in quiz %}
                                <td>{{quiz|get_item:result.subject.subjects.name}}</td>
                            {% else %}
                                <td>لا يوجد</td>
                            {% endif %}
                        {% endif %}
                        <td>{{result.midterm}}</td>
                        <td>{{result.final}}</td>
                        <td>{{result.total}}</td>
                    </tr>
                {%endfor%}
            </table>
        </form>
    </div>


{% endblock %}