{% extends "basic.html" %}
{% block content %}




    <div class="row">
        <div class="body col-md-10">
            <div class="container">
                    <div class="container text-center mt-3 header">
                        <h5>الفصل الدراسي الأول – 2017/2018</h5>
                        <h6>هندسة الاتصالات والالكترونيات</h6>
                    </div>
                <table class="responstable">
                    <tr>
                      {% for title in titles %}
                          <th {{title.1 | safe  }} >{{title.0 | safe }}</th>
                      {% endfor %}
                    </tr>


                  {% for row in rows %}
                      <tr>
                        {% for index in row %}
                          <td {{ index.1 | safe }} >{{ index.0 | safe }}</td>
                        {% endfor %}
                      </tr>
                    {% endfor %}


                </table>
            </div>
        </div>


        <aside class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">تعريف المقررات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">إدخال جدول مقرر</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">المسئول عن تدريس المقرر</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">اعداد الطلاب في مفرر</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </aside>
    </div>






{% endblock %}
