{% extends extend %}
{% block content %}


<div class="container">
  <form class="form-group row" method="post">
  {% csrf_token %}


                  <table class="responstable">
                      <tr>
                        {% for title in titles %}
                            <th {{title.1 | safe  }} >{{title.0 | safe }}</th>
                        {% endfor %}
                      </tr>


                    {% for row in rows %}
                        <tr>
                          {% for index in row %}
                            <td {{ index.1 | safe }} >{{ index.0 | safe }}</td>
                          {% endfor %}
                        </tr>
                      {% endfor %}


                  </table>
  {% if register %}
  <input align="center" type="submit" name="action" value="مسح الجدول" class="btn btn-danger">
  <input align="center" type="submit" name="action" value="مسح المحدد" class="btn btn-danger">
  <input align="center" type="submit" name="action" value="اضافة عمود" class="btn btn-primary">
  <input align="center" type="submit" name="action" value="تعديل" class="btn btn-warning">
 
  <input align="center" type="submit" name="action" value="تسجيل" class="btn btn-success">


  {% endif %}

  </form>
</div>




{% endblock %}
